header{
    background-color: #2142ed;
    padding: 20px;
    text-align: center;
}
footer{
    background-color: #2142ed;
    padding: 20px;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main{
    padding: 20px;
}
nav{
    background-color: #4380b5;
    padding: 10px;
    text-align: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #999;
    padding: 0.5rem;
    border-radius: 10px;
}
h1{
    font-size: 2rem;
    color: #f4f4f4;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    color: #4380b5;
}
p{
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}
a {
    color: #f4f4f4;
    text-decoration: none;
    margin-right: 15px;
}
a:hover {
    text-decoration: underline;
    color: #2142ed;
}